<!DOCTYPE html>
<html>
<head>
<title>instructies.md</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

<style>
/* https://github.com/microsoft/vscode/blob/master/extensions/markdown-language-features/media/markdown.css */
/*---------------------------------------------------------------------------------------------
 *  Copyright (c) Microsoft Corporation. All rights reserved.
 *  Licensed under the MIT License. See License.txt in the project root for license information.
 *--------------------------------------------------------------------------------------------*/

body {
	font-family: var(--vscode-markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif);
	font-size: var(--vscode-markdown-font-size, 14px);
	padding: 0 26px;
	line-height: var(--vscode-markdown-line-height, 22px);
	word-wrap: break-word;
}

#code-csp-warning {
	position: fixed;
	top: 0;
	right: 0;
	color: white;
	margin: 16px;
	text-align: center;
	font-size: 12px;
	font-family: sans-serif;
	background-color:#444444;
	cursor: pointer;
	padding: 6px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

#code-csp-warning:hover {
	text-decoration: none;
	background-color:#007acc;
	box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}

body.scrollBeyondLastLine {
	margin-bottom: calc(100vh - 22px);
}

body.showEditorSelection .code-line {
	position: relative;
}

body.showEditorSelection .code-active-line:before,
body.showEditorSelection .code-line:hover:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: -12px;
	height: 100%;
}

body.showEditorSelection li.code-active-line:before,
body.showEditorSelection li.code-line:hover:before {
	left: -30px;
}

.vscode-light.showEditorSelection .code-active-line:before {
	border-left: 3px solid rgba(0, 0, 0, 0.15);
}

.vscode-light.showEditorSelection .code-line:hover:before {
	border-left: 3px solid rgba(0, 0, 0, 0.40);
}

.vscode-light.showEditorSelection .code-line .code-line:hover:before {
	border-left: none;
}

.vscode-dark.showEditorSelection .code-active-line:before {
	border-left: 3px solid rgba(255, 255, 255, 0.4);
}

.vscode-dark.showEditorSelection .code-line:hover:before {
	border-left: 3px solid rgba(255, 255, 255, 0.60);
}

.vscode-dark.showEditorSelection .code-line .code-line:hover:before {
	border-left: none;
}

.vscode-high-contrast.showEditorSelection .code-active-line:before {
	border-left: 3px solid rgba(255, 160, 0, 0.7);
}

.vscode-high-contrast.showEditorSelection .code-line:hover:before {
	border-left: 3px solid rgba(255, 160, 0, 1);
}

.vscode-high-contrast.showEditorSelection .code-line .code-line:hover:before {
	border-left: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

hr {
	border: 0;
	height: 2px;
	border-bottom: 2px solid;
}

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

h1, h2, h3 {
	font-weight: normal;
}

table {
	border-collapse: collapse;
}

table > thead > tr > th {
	text-align: left;
	border-bottom: 1px solid;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td {
	padding: 5px 10px;
}

table > tbody > tr + tr > td {
	border-top: 1px solid;
}

blockquote {
	margin: 0 7px 0 5px;
	padding: 0 16px 0 10px;
	border-left-width: 5px;
	border-left-style: solid;
}

code {
	font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	font-size: 1em;
	line-height: 1.357em;
}

body.wordWrap pre {
	white-space: pre-wrap;
}

pre:not(.hljs),
pre.hljs code > div {
	padding: 16px;
	border-radius: 3px;
	overflow: auto;
}

pre code {
	color: var(--vscode-editor-foreground);
	tab-size: 4;
}

/** Theming */

.vscode-light pre {
	background-color: rgba(220, 220, 220, 0.4);
}

.vscode-dark pre {
	background-color: rgba(10, 10, 10, 0.4);
}

.vscode-high-contrast pre {
	background-color: rgb(0, 0, 0);
}

.vscode-high-contrast h1 {
	border-color: rgb(0, 0, 0);
}

.vscode-light table > thead > tr > th {
	border-color: rgba(0, 0, 0, 0.69);
}

.vscode-dark table > thead > tr > th {
	border-color: rgba(255, 255, 255, 0.69);
}

.vscode-light h1,
.vscode-light hr,
.vscode-light table > tbody > tr + tr > td {
	border-color: rgba(0, 0, 0, 0.18);
}

.vscode-dark h1,
.vscode-dark hr,
.vscode-dark table > tbody > tr + tr > td {
	border-color: rgba(255, 255, 255, 0.18);
}

</style>

<style>
/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
	color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
	color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
	color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
	color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
	color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
	color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
	color: #8959a8;
}

.hljs {
	display: block;
	overflow-x: auto;
	color: #4d4d4c;
	padding: 0.5em;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}
</style>

<style>
/*
 * Markdown PDF CSS
 */

 body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "Meiryo";
	padding: 0 12px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	border-radius: 3px;
	overflow-x: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

pre:not(.hljs) {
	padding: 23px;
	line-height: 19px;
}

blockquote {
	background: rgba(127, 127, 127, 0.1);
	border-color: rgba(0, 122, 204, 0.5);
}

.emoji {
	height: 1.4em;
}

code {
	font-size: 14px;
	line-height: 19px;
}

textarea {
	background-color: 'red';
}

/* for inline code */
:not(pre):not(.hljs) > code {
	color: #C9AE75; /* Change the old color so it seems less like an error */
	font-size: inherit;
}

/* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */
.page {
	page-break-after: always;
}

</style>

<script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
</head>
<body>
  <script>
    mermaid.initialize({
      startOnLoad: true,
      theme: document.body.classList.contains('vscode-dark') || document.body.classList.contains('vscode-high-contrast')
          ? 'dark'
          : 'default'
    });
  </script>
<!-- 
DISCLAIMER:

!!!!

GEBRUIK NIET DIT BESTAND OM HET LABO TE MAKEN MAAR GEBRUIK DE LINK OP DIGITAP!

!!!!
-->
<style>
.holder_default {
    width:500px; 
    height:150px; 
    border: 3px dashed #ccc;
}

.hover { 
    width:400px; 
    height:150px; 
    border: 3px dashed #0c0 !important; 
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

<% for(var i=0; i < Object.keys(errors).length ; i++) {%>
<% let key = Object.keys(errors)[i] %>
<% if (errors[key] === false) { %>
textarea[name=<%= key %>] {
	outline: none !important;
    border:4px solid red;
}
<% } %>
<% } %>
</style>
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<form action="/task" method="post">
<h1 id="tokens">Tokens</h1>
<p>Zoals altijd kunnen de oefeningen binnengehaald worden door een git pull te doen.</p>
<pre class="hljs"><code><div>git pull
</div></code></pre>
<p>of de git repository te clonen als je deze nog niet hebt.</p>
<pre class="hljs"><code><div>git clone https://bitbucket.org/similon-ap/software_security_pro.git
</div></code></pre>
<h3 id="wat-ga-je-leren-in-dit-labo">Wat ga je leren in dit labo?</h3>
<ul>
<li>Leren werken met Postman.</li>
<li>De werking van JWT tokens begrijpen en gebruiken.</li>
<li>Concepten als secret key en expiration van een token begrijpen.</li>
</ul>
<h3 id="stappenplan">Stappenplan</h3>
<ol>
<li>
<p>Open de terminal in <code>labo_tokens/exercise1</code> via visual studio code en installeer alle npm dependencies met</p>
<pre class="hljs"><code><div>npm install
</div></code></pre>
</li>
<li>
<p>We hebben voor deze oefening net als vorig labo een webserver in node js geschreven. Je kan deze opstarten met</p>
<pre class="hljs"><code><div>node http.js <%= email %>
</div></code></pre>
<p>Deze keer is er geen https server aanwezig dus certificaten zijn hier niet nodig.</p>
</li>
<li>
	<p>Als je naar <code>http://localhost:3000/task </code> surft kom je op deze pagina terecht.</p>
</li>
<li>
<p>Installeer Postman door naar het adres https://www.postman.com te gaan en de installatie procedure te doorlopen.</p>
</li>
<li>
<p>Maak in postman een nieuwe GET request aan met een willekeurig gekozen username en passwoord:</p>
 <img src="newrequest2.png" width="640">
<p><code>http://localhost:3000/login?username=<%= email %>&amp;password=password</code></p>
</li>
<li>
<p>Zoek de status code die de server terug geeft in postman. <strong>Vul deze hier in:</strong></p>
<textarea name="status_code_login" style="width: 100%"><%= answers.status_code_login %></textarea>

</li>
<li>
<p>Maak in postman een nieuwe GET request aan in Postman maar doe deze nu naar</p>
<p><code>http://localhost:3000/login?username=<%= email %>&amp;password=admin123</code></p>
<p>Je krijgt vervolgens een token terug.</p>
<p><strong>Geef deze hier in:</strong></p>
 <textarea name="jwt_token_1" style="width: 100%"><%= answers.jwt_token_1 %></textarea>
</li>
<li>
<p>Je kan op de website <code>https://www.jsonwebtoken.io/</code> het token decoderen en bezien wat de inhoud er van is. Plak je JWT token in het JWT string veld.</p>
<p><strong>Kopieer hier het header veld:</strong>
<textarea name="jwt_decoded_header" style="width: 100%; height: 100px"><%= answers.jwt_decoded_header %></textarea></p>
<p><strong>Kopieer hier het payload veld:</strong>
<textarea name="jwt_decoded_payload" style="width: 100%; height: 100px"><%= answers.jwt_decoded_payload %></textarea></p>
<p><strong>Opgelet: in sommige gevallen voegt deze site een jti veld in de payload en past het de exp aan als je buiten het textveld klikt. Refresh de pagina en probeer opnieuw.</strong>
</li>
<li>
<p>Naast informatie die vrij te kiezen is door de server bevat de JWT token twee belangrijke timestamps:</p>
<ul>
<li><strong>iat</strong>: De unix timestamp wanneer de JWT token aangemaakt werd</li>
<li><strong>exp</strong>: De unix timestamp wanneer de JWT token zal vervallen</li>
</ul>
<p>Kijk na wanneer jou token vervalt en zet het om naar het ISO 8601 datum formaat.</p>
<p>Gebruik https://www.unixtimestamp.com om dit te doen.</p>
<p><strong>Vul deze hieronder in:</strong>
<textarea name="token_expiry" style="width: 100%;"><%= answers.token_expiry %></textarea></p>
</li>
<li>
<p>Maak in postman een nieuwe GET request naar</p>
<p><code>http://localhost:3000/message</code></p>
<p>Wat is de response van deze request?</p>
 <textarea name="response_no_token" style="width: 100%; height: 100px"><%= answers.response_no_token %></textarea>
</li>
<li>
<p>Deze message API call is beveiligd en verwacht een JWT token. Je kan deze JWT token ingeven in</p>
<p><code>Authorization -&gt; Type -&gt; Bearer</code></p>
<img src="bearerpostman.png" width="640">
<p>Daar kan je de bovenstaande JWT token ingeven en de request opnieuw doen.</p>
<p><strong>Geef hier de response van deze request:</strong></p>
<textarea name="message_call_response" style="width: 100%; height: 100px"><%= answers.message_call_response %></textarea>
</li>
<li>
<p>Open het bestand <code>http.js</code> en pas de variabele <code>jwtKey</code> aan naar een andere secret key (vrij te kiezen) en herstart dan de http server.</p>
</li>
<li>
<p>Probeer opnieuw de GET request te doen naar <code>http://localhost:3000/message</code> met dezelfde token. Je zal zien dat dit niet werkt. Dit is omdat het token nu niet meer gesigned is met dezelfde secret key.</p>
<p><strong>Geef hier de response van deze request:</strong></p>
<textarea name="message_call_changed_key" style="width: 100%; height: 100px"><%= answers.message_call_changed_key %></textarea>
</li>
<li>
<p>Log nu terug in via de login endpoint en doe opnieuw de GET request naar het <code>/message</code> endpoint met de nieuwe JWT token.</p>
</li>
<li>
<p>Ga terug naar <code>https://www.jsonwebtoken.io/</code> en kopieer en plak de token in het JWT string veld. Vul je secret key in het Signing Key veld en dan zal je zien dat je <code>verified</code> ziet verschijnen.</p>
</li>
<li>
<p>Open het bestand <code>http.js</code> en pas de variabele <code>jwtExpirySeconds</code> aan naar 120 seconden en herstart dan de http server.</p>
</li>
<li>
<p>Log nu terug in via de login endpoint en gebruik deze token om terug de</p>
<p><code>http://localhost:3000/message</code></p>
<p>request te doen (met de nieuwe token).</p>
</li>
<li>
<p>Wacht nu 2 minuten en doe terug een request naar de message endpoint met dezelfde token. Dit zou niet mogen werken want de token is nu vervallen.</p>
<p><strong>Geef hier onder de response die je terug krijgt:</strong>
<textarea name="expired_token_response" style="width: 100%; height: 100px"><%= answers.expired_token_response %></textarea></p>
</li>
<li>
<p>Om te demonstreren dat het niet de bedoeling is om gevoelige data zoals een paswoord in een JWT token te steken gaan we nog een aanpassing doen aan het <code>http.js</code> bestand:</p>
<p>pas het volgende stuk code aan:</p>
<pre class="hljs"><code><div><span class="hljs-keyword">const</span> token = jwt.sign({ username }, jwtKey, {
        <span class="hljs-attr">algorithm</span>: <span class="hljs-string">'HS256'</span>,
        <span class="hljs-attr">expiresIn</span>: jwtExpirySeconds
    });
</div></code></pre>
<p>naar</p>
<pre class="hljs"><code><div><span class="hljs-keyword">const</span> token = jwt.sign({ username, password }, jwtKey, {
        <span class="hljs-attr">algorithm</span>: <span class="hljs-string">'HS256'</span>,
        <span class="hljs-attr">expiresIn</span>: jwtExpirySeconds
});
</div></code></pre>
<p>Dit zorgt ervoor dat naast je username ook je passwoord in het jwt token zal staan.</p>
</li>
<li>
<p>Herstart de server en log terug in via het login endpoint.</p>
</li>
<li>
<p>Gebruik terug <code>https://www.jsonwebtoken.io/</code> om de nieuwe token te decoderen. Je zal nu zien dat het paswoord 'admin123' er gewoon leesbaar in staat. Zet dus nooit gevoelige data in de JWT token zelf want deze is publiek leesbaar.</p>
<p><strong>Kopieer hier het header veld:</strong>
<textarea name="jwt_decoded_with_password_header" style="width: 100%;height: 100px"><%= answers.jwt_decoded_with_password_header %></textarea></p>
<p><strong>Kopieer hier het payload veld:</strong>
<textarea name="jwt_decoded_with_password_payload" style="width: 100%;height: 100px"><%= answers.jwt_decoded_with_password_payload %></textarea></p>
</li>
<li>
<p>Je kan je oplossingen nakijken of deze correct zijn. Dit is enkel een indicatie en geen eindscore.</p>
<input type="submit" value="Kijk oplossingen na" name="check">
<p>Fouten worden aangegeven met een rood kader.</p>
</li>
<li>
<p>Vervolgens kan je het oplossingsbestand downloaden en moet je dit inzenden via digitap.</p>
<input type="submit" value="Maak oplossingsbestand" name="submit">
<% if (hasErrors === true) { %>
	<font color="red">Er zijn nog dingen gemarkeerd als foutief. Je mag het oplossingsbestand ook met fouten doorsturen.</font>
<% } %>
</li>
</ol>
</form>
</body>
</html>
